
Server/Debug/Server.exe
Server/.vs/Server/v15/.suo
Server/.vs/Server/v15/Browse.VC.db
Server/.vs/Server/v15/Browse.VC.opendb
Server/.vs/Server/v15/.suo
Server/.vs/Server/v15/Browse.VC.db
Server/Debug/Server.ilk
Server/Debug/Server.log
Server/Debug/Server.pdb
*.tlog
*.db
*.obj
*.idb
*.pdb
*.db
Server/.vs/Server/v15/.suo
Server/.vs/Server/v15/.suo
Server/.vs/Server/v15/Browse.VC.db
Server/.vs/Server/v15/.suo
Server/.vs/Server/v15/Browse.VC.db
Server/.vs/Server/v15/Browse.VC.db
